### https://raw.github.com/github/gitignore/2a4de265d37eca626309d8e115218d18985b5435/Global/Vagrant.gitignore

# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log


